
docs

.Rproj.user
.Rhistory
.RData
.Renviron
.Rapp.history
.Ruserdata
.DS_Store
.httr-oauth

/vignettes/*.R
/inst/extdata/plots/
/inst/doc
/inst/misc

/*.Rcheck/
/*.tar.gz
/Meta/
/cache/
/temp/
/tests/

man/.Rapp.history

*-Ex.R
*_cache/
*.utf8.md
*.knit.md
LICENSE.md
README.md
