
docs

.Rproj.user
.Rhistory
.RData
.Renviron
.Rapp.history
.Ruserdata
.DS_Store
.httr-oauth

/vignettes/*.R

/*.Rcheck/
/*.tar.gz
/Meta/
/cache/
/temp/

man/.Rapp.history

*-Ex.R
*_cache/
*.utf8.md
*.knit.md
LICENSE.md
README.md
