
/* Whole document: */
body{
  font-size: 11pt;
  font-weight: 400;
}

h1 {
  margin-top: 38px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
}

h2 {
  margin-top: 20px
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}

h3 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
}
