body{ /* Normal  */
      font-size: 14px;
  }
td {  /* Table  */
  font-size: 8px;
}
h1.title {
  margin-top:1em;
  margin-bottom:.50em;
  font-size: 30px;
  color: DarkBlue;
}
h1 { /* Header 1 */
  font-size: 24px;
  color: DarkBlue;
}
h2 { /* Header 2 */
    font-size: 20px;
  color: DarkBlue;
}
h3 { /* Header 3 */
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: DarkBlue;
}
code.r{ /* Code block */
    font-size: 14px;
}

code.python{ /* Code block */
    font-size: 14px;
}

pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
